# common
PyYaml
natsort
loguru

# LLM
openai
pydantic_settings
numpy
pandas
tiktoken
peft
transformers
bitsandbytes
protobuf
sentencepiece

# optional packages for testing and package management
pytest
pre-commit
black